@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Christoc.Modules.MessageOfTheDay.Models.Message>>

<div id="Messages-@Dnn.ModuleContext.ModuleId">


    @if (Model.Count() == 0)
    {
        <p>@Dnn.LocalizeString("NoMessages")</p>
    }
    else
    {

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="tr row">
                    <div class="td">
                        @Dnn.LocalizeString("lblTitle") / @Dnn.LocalizeString("lblDescription")
                    </div>
                    <div class="td">
                        @Dnn.LocalizeString("lblImageUrl")
                    </div>
                    <div class="td">
                        @Dnn.LocalizeString("lblUrl")
                    </div>
                    <div class="td">
                        @Dnn.LocalizeString("lblVideoUrl")
                    </div>
                    <div class="td">
                        @Dnn.LocalizeString("lblDisplayDate")
                    </div>
                    <div class="td"></div>
                </div>
            </div>


            <div class="panel-body">
                @foreach (var message in Model)
                {
                    <div class="tr row">
                        
                        <div class="td collapse-group">
                        <h3>@message.MessageTitle</h3>
                            <p class="collapse">
                                @Regex.Replace(message.MessageDescription, @"<[^>]*>", String.Empty);
                            </p>
                            <p><a class="btn" href="#">@Dnn.LocalizeString("ViewDescription.Text") &raquo;</a>
                            </p>
                        </div>
                        <div class="td">
                            <a href="@message.MessageImageUrl" target="_blank"><img src="@message.MessageImageUrl" class="alImage" /></a>
</div>
                        <div class="td">
                            <a href="@message.MessageUrl" target="_blank">Link</a>
                        </div>
                        <div class="td">
                            <A href="@message.MessageVideoUrl" target="_blank">Video Link</A>
                        </div>
                        <div class="td">
                            @message.MessageDisplayDate
                        </div>

                        <div class="td">

                            <a href="@Url.Action("Edit", "Message", new {ctl = "Edit", MessageId = message.MessageId})">@Dnn.LocalizeString("EditMessage")</a>
                            <a href="@Url.Action("Delete", "Message", new {MessageId = message.MessageId})">@Dnn.LocalizeString("DeleteMessage")</a>

                        </div>


                    </div>


                }
            </div>

        </div>
    }
</div>

<script>
    $('.row .btn').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $collapse = $this.closest('.collapse-group').find('.collapse');
        $collapse.collapse('toggle');
    });
</script>